<div class="center">
	<div class="row">
  <div class="col-sm-10 col-sm-offset-1" id="contact_img">
	<h1><small><strong>About Bright Sparqe</strong></small></h1>
	<div class="row">
		<div class="col-sm-8">			
			<p>Bright Sparqe's primary objective is to assist and provide one breakfast bag to each homeless man, woman and child. Bright Sparqe will commence the concept in the Melbourne CBD with the ultimate vision fo being a national charity.</p>
			<p>Through partherships with accredited support services Bright Sparqe will provide information and details to those who are experiencing homelessness in the community.</p>
			<p>The team at Bright Sparqe believe through this initiative it will assist the homeless in getting a good start to the day. </p>
			<p>The team at Bright Sparqe are extremely excited in how this initiative it will assist the homeless.</p>
		</div>
		<div class="col-sm-4" id="about_img">

			<%= image_tag("aboutus_1.png", :alt => "about1")%>
			<p>(pic size 445*334 1.33)</p>
		</div>
	</div>
	<h1><small><strong>About Bright Sparqe Members</strong></small></h1>
	<div class="row profile">
		<div class="col-sm-8">
			<p style="color:#0A50A1"><i><b>Mr.Charbel Yamouni</b> Founder</i></p>
			<p>Charbel's objective is to assist the homeless men, women and children throughout Australia. Charbel believe it is our duty to support the homeless: "If we can help one homeless person return back into the community everyone else is a bonus and we have met my objective".</p>
			<p>Charbel understands there is a strong correlation between being homeless and the increase in the unemployment rate and expectations to meet individual and family pressures. "I believe it is the responsibility of all people to help the homeless".</p>
			<p>Charbel completed his undergraduate degree at Monash University and is an experienced Project Manager, having delivered a number of national multi-million dollar projects. His skill-set will be able to assist the strategic policy and growth of Bright Sparqe to meet the organisations vision to nationally roll-out the initiative.</p>
		</div>
		<div class="col-sm-4">
			<%= image_tag("aboutus_3.png", :alt => "about2")%>
			<p>(pic size 200*250)</p>
		</div>
	</div>
		<div class="row profile">
		<div class="col-sm-8">
			<p style="color:#0A50A1"><i><b>Miss.Sana Malik</b> Founder</i></p>
			<p>During her time as a university student, Sana has had the honour of working with diverse community groups in Melbourne. She majored in Criminology in her Arts degree: given her a solid introduction to the needs of individuals from disadvantaged backgrouds. Currently completing her law degree, Sana believes her education and experience will contribute positively to Bright Sparqe.</p>
			<p>Single mothers and women who leave abusive domestic situations are becoming increasingly prevalent in Melbourne's homelessness statistics. Sana is highly passionate and a strong advocate of Bright Sparqe "A safer community can be achieved by assisting homeless men, women and children who are paticularly vulnerable on the street". </p>
		</div>
		<div class="col-sm-4">
			<%= image_tag("aboutus_3.png", :alt => "about2")%>
		</div>
	</div>
		<div class="row profile">
		<div class="col-sm-8">
			<p style="color:#0A50A1"><i><b>Mr.Lingjun Qiu</b> Founder</i></p>
			<p>Lingjun Qiu has a passion for supporting the not-for-profit sector by volunteering in a number of different organisations, giving up his time assisting and delivering the online strategy. </p>
			<p>Lingjun is currently studying his post graduate degree at Monash University within the faculty of Information Technology. Lingjun's skill-set includes web and mobile application development. "My online development skill will help the world connect, become closer, increasing the visibility of the homeless issue and how to get the homeless connected to the available accredited support services". </p>
			<p>Lingjun Qiu is extremely excited about his role at Bright Sparqe and believes it will assist the homeless by providing a solid start to the day. </p>
		</div>
		<div class="col-sm-4">
			<%= image_tag("aboutus_3.png", :alt => "about2")%>
		</div>
	</div>
		<div class="row profile">
		<div class="col-sm-8">
			<p style="color:#0A50A1"><i><b>Miss. Hea Jin Park</b></i></p>
			<p>Charbel's objective is to assist the homeless men, women and children throughout Australia. Charbel believe it is our duty to support the homeless: "If we can help one homeless person return back into the community everyone else is a bonus and we have met my objective".</p>
			<p>Charbel understands there is a strong correlation between being homeless and the increase in the unemployment rate and expectations to meet individual and family pressures. "I believe it is the responsibility of all people to help the homeless".</p>
			<p>Charbel completed his undergraduate degree at Monash University and is an experienced Project Manager, having delivered a number of national multi-million dollar projects. His skill-set will be able to assist the strategic policy and growth of Bright Sparqe to meet the organisations vision to nationally roll-out the initiative.</p>
		</div>
		<div class="col-sm-4">
			<%= image_tag("aboutus_5.png", :alt => "about2")%>
		</div>
	</div>
</div>
</div>
</div>
