<div class="center">
	<div class="row">
	<div class="col-sm-10 col-sm-offset-1" id="contact_img">
		<h1><small><strong>Contact Us</strong></small></h1>
		<%= image_tag("contact.jpg")%>
		<p>(pic size 790*390 2)</p>
	</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 outside_box">
			
			<div class="row inside_box">
				<!-- <div class="inside_box"> -->
				<div class="col-sm-6 ">
					<%= form_for(@feedback) do |f| %> 
					<b>First Name *</b>
					<%= f.text_field :fname , class: 'form-control' %>
					<b>Last Name *</b>
					<%= f.text_field :lname , class: 'form-control' %>
					<b>Contact Email *</b>
					<%= f.email_field :email, class: 'form-control'  %>
					<b>Comments *</b>

					<%= f.text_area :comments, rows:10, class: 'form-control'%>
					<%= render 'shared/error_msg_feedback' %>
					<%= f.submit "SUMBIT", class: "btn btn-primary" %> 
					<% end %>
				</div>
			<!-- </div> -->
				<div class="col-sm-6" id="contact_form_left">
					<h4>...OR VIA EMAIL,PHONE OR POST</h4>
					<p><b>EMAIL</b><br>info@brightsparqe.com</p>
					<p><b>TELEPHONE</b><br>1300111838</p>
					<p><b>POST</b><br>
						Bright Sparqe <br>
						PO box 80 <br>
						Melbourne <br>
						VIC 3000 Australia
					</p>
				</div>
			</div>
		</div>
	</div>
</div>