<div class="row">
	<div class="col-sm-12" id="slider">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
	
	<div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("contact.png", :alt => "homeless")%>
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <%= image_tag("home2.jpg", :alt => "homeless")%>
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <%= image_tag("home3.jpg", :alt => "homeless")%>
      <div class="carousel-caption">
        
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
		<!-- <div class="col-sm-12" id="slider">
			<%= image_tag("contact.jpg", :alt => "homeless")%>
		</div> -->
	</div>
	<div class="center">
<div class="row">
	<div class="col-sm-7">
		<h1><small><strong>Welcome to Bright Sparqe</strong></small></h1>
		<a class="subtitle" id="main-subtitle">Bright Sparqe raises money to help homeless people in Australia.</a>
		<div class="content">
			<div class="content_left">
				<%= image_tag("homeless.jpg", :alt => "homeless")%>
			</div>
			<div class="content_right">
				<p>The organisation primary objective is to assist and provide a breakfast bag to the homeless men, woman and children sleeping in building doorways, benches and on the street. The NGO will pilot the concept in the Melbourne CBD. The Organisational Board has agreed, approved and signed-off the approach to use the Sani- tarium: Up & GO breakfast product and sliced bread from Bakers Delight. The vision is to provide jam (knife), blankets and a deploy support clinic for the potential homeless men, women and children by getting a good start to the day and support on a number of issues</p>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<h1><small><strong>Make a Donation</strong></small></h1>
		<div class="content">
			<div class="content_left">

			</div>
			<div class="content_right">
				
			</div>
		</div>
	</div>
</div>
<div class="row" id="sign_up">
	<div class="col-sm-7">
		<h1><small><strong>Stay in touch!</strong></small></h1>
		<p>To subscribe to the Bright Sparqe e-Newsletter please give us your name and email address.</p>
		<div class="row ">
  <div class="col-md-8 col-md-offset-2 outside_box">
  	<div class="inside_box">
	<%= form_for(@user) do |f| %> 
	<b>First Name *</b>
	<%= f.text_field :fname , class: 'form-control' %>
	<b>Last Name *</b>
	<%= f.text_field :lname , class: 'form-control' %>
	<b>Email *</b>
	<%= f.email_field :email, class: 'form-control'  %>
	<b>State *</b>
 <select class="form-control" name="user[state]">
  <option>ACT</option>
  <option>NSW</option>
  <option>NT</option>
  <option>QLD</option>
  <option>SA</option>
  <option>TAS</option>
  <option selected="selected">VIC</option>
  <option>WA</option>
  <option>Outside Australia</option>
</select>
<%= render 'shared/error_messages' %>
<%= f.submit "Subscribe Us", class: "btn btn-primary" %> 
<% end %>
</div>
  </div>
</div>
	</div>
	<div class="col-sm-5">
		<h1><small><strong>Support Bright Sparqe in Victoria</strong></small></h1>
		<p>Our work currently helps people experiencing homelessness in Victoria. With your generosity and support, our visions is to reach out to people across Australia.</p>
		<div class="content">
			<%= image_tag("map.jpg", :alt => "map")%>
		</div>
	</div>
</div>
</div>