<div class="center">
	<div>
	<h1><small><strong>Bright Sparqe Donors</strong></small></h1>
	<ul class="list">
		<li class="box">
			<% d1= image_tag("homeless.jpg", :alt => "homeless")%>
			<%= link_to d1, "www.baidu.com"%>
		</li>
		<li class="box"><%= image_tag("homeless.jpg", :alt => "homeless")%></li>
		<li class="box"><%= image_tag("homeless.jpg", :alt => "homeless")%></li>
		<li class="box"><%= image_tag("homeless.jpg", :alt => "homeless")%></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
	</ul>
	</div>
	<div class="list_wrap">
	<h1><small><strong><br>Bright Sparqe Supporters</strong></small></h1>
	<ul class="list">
		<li class="box">
			<% d1= image_tag("homeless.jpg", :alt => "homeless")%>
			<%= link_to d1, "www.baidu.com"%>
		</li>
		<li class="box"><%= image_tag("homeless.jpg", :alt => "homeless")%></li>
		<li class="box"><%= image_tag("homeless.jpg", :alt => "homeless")%></li>
		<li class="box"><%= image_tag("homeless.jpg", :alt => "homeless")%></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
		<li class="box"></li>
	</ul>
	</div>
	<div class="list_wrap">
		<h1><small><strong><br>If you would like support or donate!</strong></small></h1>
		<div class="row">
			<div class="col-sm-6">
				<p>If you organisation would like to support or donate your their products to Bright Sparqe. Please provide us your details and we shall be in touch. </p>
				<div class="row">
  <div class="col-md-8 col-md-offset-2">
<%= form_for(@organisation) do |f| %> 
<%= f.label :Organisation_Name %>
<%= f.text_field :oname , class: 'form-control' %>
<%= f.label :Contact_Name %>
<%= f.text_field :cname , class: 'form-control' %>
<%= f.label :Contact_Email %>
<%= f.email_field :email, class: 'form-control'  %>
<%= f.label :Contact_Phone %>
<%= f.text_field :phone, class: 'form-control'%>
<%= render 'shared/error_msg_organisation' %>
<%= f.submit "SUMBIT", class: "btn btn-primary" %> 
<% end %>
  </div>
</div>
</div>
	<br><br><br>
			<div class="col-sm-6" id="list_page_bottom_img">
				<%= image_tag("homeless.jpg", :alt => "homeless")%>
			</div>
		</div>	
	</div>
</div>
