<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@user) do |f| %> 
<%= f.label :fname %>
<%= f.text_field :fname %>
<%= f.label :lname %>
<%= f.text_field :lname %>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :state %>
<%= f.text_field :state %>
<%= f.submit "Create my account", class: "btn btn-primary" %> <% end %>
  </div>
</div>