<!-- <footer class="footer">
  <small>
   	<p>copyright@2015 <a href="#" title="Bright Sparqe ">brightsparqe.org</a></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer> -->
<footer class="footer">
		<nav>
			<ul>
				<li><%= link_to "ABOUT US",   about_path %><a href=""> | </a></li>
		      <li><%= link_to "SUPPORTERS", contact_path %><a href=""> | </a></li>
		      <li><%= link_to "DONATIONS",   about_path %><a href=""> | </a></li>
		      <li><%= link_to "SUPPORT SERVICES", contact_path %><a href=""> | </a></li>
		      <li><%= link_to "CONTACT US", contact_path %></li>
			</ul>
		</nav>
	<div class="footer2">
		<p style="text-align: center; padding-top:25px; color:#4f4f4f">Copyright <a href="#" title="BRIGHT SPARQE ">brightsparqe.org</a> | All Rights Reserved <br>Website designed and developed by <a href="mailto:heajinpark7@gmail.com" title="heajinpark7@gmail.com">Hea Jin Park</a> and <a href="mailto:linkchiu007@gmail.com" title="linkchiu007@gmail.com"> Lingjun Qiu</a></p>
	</div>
</foot>